    <div class="hero-unit" >
        <!--<h1>Projet {{name}}</h1>-->

        <div class="container">
            <h2 class="text-center">Angular / Bootstrap & API Rest Ful</h2>
            <p class="text-center homeContent">
                <!--<img src="img/angular-logo.png" width="200px" alt="AngularJS">-->
                <img src="img/angular.jpg" width="100px" alt="AngularJS">
                <img src="img/bootstrap.jpg" width="100px" alt="AngularJS">
                <img src="img/json.png" width="200px" alt="AngularJS">
            </p>

        </div>
    </div>
